{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        
        <label for="title">Page Title</label>
        <input id="title" name="title" type="text">

        <!-- textarea not an input type -->
        <label for="content">Page Markdown Content</label>
        <textarea id="content" name="content" placeholder="Description..."></textarea>

        <input type="submit" value="Create Page">
    </form>
{% endblock %}