{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search Results
{% endblock %}

{% block body %}
    <h1>Search Results</h1>

    <ul>
        {% if entries %} 
            {% for entry in entries %}
                <!-- -->
                <li><a href={{entry}}>{{ entry }}</a></li>   
            {% endfor %}
        {% else %}
            <li>No matching entries found. View <a href="{% url 'index' %}">Home</a> to see available pages.</li>
        {% endif %}
    </ul>


{% endblock %}